<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>Zippio 2.0</title>

  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font: 13px/160% Tahoma, Arial, sans-serif;
      background: #f8f8f8;
    }

    a, a:visited {
      color: #1e90ff;
    }

    a.button {
      text-decoration: none;
      color: #fff;
    }

    #container {
      margin: 30px auto;
      padding: 20px;
      width: 600px;
      background: #fff;
    }

    h1 {
      background-image: url('../images/zippio.png');
      background-repeat: no-repeat;
      background-position: 0% 50%;
      padding-left: 64px;

      font: bold 300%/160% Consolas, Courier, monospace;
      margin-bottom: 8px;
      color: #93e217;
      text-shadow:
        1px 1px 3px rgba(000,000,000,0.7),
        2px 2px 2px rgba(255,255,255,0.5);
    }

    h3 { 
      font: bold 200%/160% Consolas, Courier, monospace;
      margin-bottom: 6px;
      color: #98ca34;
    }

    p { margin: 8px 0; }

    #link {
      width: 94%;
      padding: 10px;
      font-size: 16px;
      margin: 24px 2px;
      color: #666;
    }

    #zip, .button {
      font-size: 16px;
      color: #ffffff;
      padding: 12px 30px;
      background: -moz-linear-gradient(
        top,
        #98ca34 0%,
        #98ca34);
      background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#98ca34),
        to(#98ca34));

      text-shadow:
        1px 1px 2px rgba(000,000,000,0.6),
        0px 1px 0px rgba(255,255,255,0.3);
    }

    .effect {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #6b9939;
      -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.5);
      -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.5);
      box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.5);
    }

    .footer {
      margin-top: 40px;
      text-align: center;
      padding-top: 20px;
      font-size: 84%;
    }

    #updates {
      width: 560px;
      max-width: 560px;
    }

    #updates .progress, #updates .status, #updates .warning  {
      padding: 4px 8px;
      background-color: #f8f8f8;
      color: #fff;
      margin-bottom: 2px;
      opacity: 0.8;
    }

    #updates .progress {
      background: #06c;
    }

    #updates .status {
      background: #393;
    }

    #updates .warning {
      background: #903;
    }

    #updates .warning th, #updates .warning td {
      vertical-align: top;
      font-weight: normal;
    }

    #updates .warning .headerRow {
      display: none;
    }

    #info {
    }

    #info .k, .v {
      display: inline-block;
      padding: 4px 8px;
      background-color: #f8f8f8;
      margin-bottom: 1px;
    }
    #info .k {
      vertical-align: top;
      width: 160px;
      max-width: 160px;
      background-color: #f4f4f4;
    }
    #info .v {
      vertical-align: top;
      min-height: 20px;
      width: 380px;
      max-width: 380px;
    }
  </style>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>

<div id="container" class="effect">
  <div id="links" style="margin-bottom: -2px; float: right;">
    <a href="https://vimeo.com/46361969" target="_blank">Screencast</a>
    &nbsp;|&nbsp;
    <a href="https://bit.ly/zippio-doc" target="_blank">Documentation</a>
  </div>
  <a href="/" style="text-decoration: none;">
    <h1>Zippio 2.0</h1>
  </a>

  <%= yield %>

  <div class="footer">
    A project by <a href="http://cloudspokes.com/members/soe" target="_blan">@soe</a> for CloudSpokes challenge
  </div>

</div>

</body>
</html>

